* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color */
body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
}
.card-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
/* Image styling */
.main-img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  margin-bottom: 15px;
  transition: transform 0.3s ease; /* Add a transition for smooth effect */
}

/* Card styling */
.nft-card {
  padding: 22.5px;
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  border-radius: 0.8rem;
  box-shadow: 15px 25px 25px 4px hsl(218, 86%, 8%);
}

.nft-description {
  margin-bottom: 15px;
}

/* Text color for title and artist name */
.artist-name,
.nft-title {
  color: white;
}

/* Text color and line height for various elements */
.nft-description,
.nft-creator,
.time {
  color: hsl(215, 51%, 70%);
  line-height: 1.5;
  font-weight: 300;
}

/* Title font weight and size */
.nft-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Avatar image styling */
#avatar img {
  width: 1.7rem;
  height: auto;
  border: 1px solid white;
  border-radius: 0.9rem;
  margin-right: 10px;
}

/* Horizontal rule styling */
.custom-hr {
  margin-bottom: 1rem;
  height: 0.5px;
  border: none;
  box-shadow: 0 0.2px 0 hsl(215, 51%, 70%);
}

.nft-content {
  display: flex;
  flex-direction: column;
}
.nft-details {
  display: flex;
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.creator-info {
  display: flex;
}
.nft-description {
  font-size: 16px;
}

.nft-creator {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  /* Add any mobile-specific styles here if needed */
}

.nft-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-name {
  margin-left: 4px;
}

.icon-ethereum,
.clock-img {
  margin-right: 7px;
}

.artist-name:hover,
.nft-title:hover {
  color: hsl(178, 100%, 50%);
}

.main-img-container {
  position: relative;
  display: inline-block;
}

.hover-img {
  position: absolute;
  left: 106px;
  top: 108px;
  width: 17%;
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 0.3s ease; /* Add a transition for smooth effect */
}
.main-img-container:hover .hover-img {
  opacity: 1;
  z-index: 1; /* Change this value to adjust the opacity on hover */
}

.overlay {
  width: 100%;
  height: 93%;
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(178, 100%, 50%);
  opacity: 0;
}

.main-img-container:hover .overlay {
  opacity: 0.5;
}
